html {
  background-color: silver;
}

body {
  /* remove default margin */
  margin: 0;
  background-color: white;
}

canvas {
  background-color: black;
  /* prevent weird body overflow */
  display: block;
  /* good for debugging */
  box-shadow: 0 0 0 1px red inset;
}
