html {
  background-color: black;
}

body {
  /* remove default margin */
  margin: 0;
  background-color: purple;
}

canvas {
  /* prevent weird body overflow */
  display: block;
  /* good for debugging */
  box-shadow: 0 0 0 1px blue inset;
}
